
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Nunito');
body {
  margin-top: 0px;
  margin-bottom: 0px;
  background: none;
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

nav.navbar {
    position: relative;
    padding: 10px 10px 10px 0px;
    color: #fff;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #133E7D; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #133E7D 0%, #2780e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#133E7D), color-stop(100%,#2780e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #133E7D 0%,#2780e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #133E7D 0%,#2780e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #133E7D 0%,#2780e3 100%); /* IE10+ */
    background: linear-gradient(45deg,  #133E7D 0%,#2780e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133E7D', endColorstr='#2780e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

nav.navbar {
    border-bottom: 3px solid #EEB715!important;
    border-radius: 0px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.navbar-text {  
    color: #FCFCFC !important;
}
.navbar-inverse {
    border-top: 4px solid #EEB715 !important;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background: #133E7D; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #133E7D 0%, #2780e3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#133E7D), color-stop(100%,#2780e3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #133E7D 0%,#2780e3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #133E7D 0%,#2780e3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #133E7D 0%,#2780e3 100%); /* IE10+ */
    background: linear-gradient(45deg,  #133E7D 0%,#2780e3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133E7D', endColorstr='#2780e3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

.navbar-text > a {
    color: white;
    font-weight: bold;
}


.centered {
   text-align: center;
   font-size: 0;
}
.centered > div {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
   margin-top: 8%;
}

div.line {
    height: 40px;
    width:100%;
    margin-top: -65px;

}

div.line > div.box-line-orange {
    background-color: #FF9E02;
    padding: 5px;
    float: right;
    width: 20% !important;
    border-bottom: 2px solid white;
    border-radius: 12px 12px 10px 12px;
    -webkit-box-shadow: 12px 12px 10px 12px rgba(0,0,0,0.31);
    -moz-box-shadow: 12px 12px 10px 12px rgba(0,0,0,0.31);
    box-shadow: 12px 12px 10px 12px rgba(0,0,0,0.31);
}
div.line > div.box-line-orange > span.text-line {
    padding-right: 30px;
    color: white;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}
div.button {
    background-color: #FF9E02;
    margin-right: 20px;
    text-align: center !important;
    border-radius: 20px;
    border-bottom: 3px solid white;
    -webkit-box-shadow: 0px 16px 56px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 16px 56px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 16px 56px 0px rgba(0,0,0,0.31);
}

a.button-bigger {
    padding: 30px;
    text-decoration: none;
}
a.button-bigger > h2 {
    line-height: 0em;
    font-size: 15pt;
    font-family: 'Archivo Black', sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
}

a.button-bigger > i.fa {
    font-size: 40pt;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    margin-left: -30px;
}