/*! 
 
 *
 * @author Teitra Mega - office@teitramega.co.id
 */
a {
	cursor: pointer;
}

table.mini-font { 
  vertical-align:center;
  display: table-cell;
   font-size: 9pt;
}
table.mini-font thead th,
table.mini-font tbody td,
table.mini-font tbody th,
table.mini-font tbody td span,
table.mini-font tbody td strong,
table.mini-font tfoot td {  
   font-size: 9pt;
   vertical-align: middle;
}

/*  ADMIN LTE */
    .content-wrapper { background: #F4F5F7 }
    * { font-family: 'Arial', sans-serif; font-size: 13px; }
    li > a > i.ion { font-size: 18px; }
    a.link { color:blue; }
    a.link:hover { color:#00C0EF; } 
    .mini-font { font-size:0.9em; }
    a.active { font-weight: bold; }
    a { cursor: pointer; }
    div.checkbox, label.checkbox { padding-top:0px; padding-bottom: 0px; }
    .bg-silver { background:rgb(249,250,252); border:#444; }
    .icon-button { font-size: 1.1em; margin: 5px 6px 0px 0px; }
    .text-line { text-decoration: line-through; color: rgb(173,0,0); }
    dt { text-align: left; }
    .top { margin-top: 20px; }
    div.kisaran > .ticks_labels { padding: 10px; }
    .bigger-font { font-size: 15px; }
     label.control-label { font-size: 12px !important; } 
     div.icon > i.ion  { font-size: 80px; }
     div.icon > i.fa { font-size: 60px; }
    .block-no-surat > strong { font-size: 16px; }
     input.no_surat { padding: 0px 0px 0px 0px; width:42px;   border-bottom: none;  border-top: none; border-right: none; border-left: none; text-align:center; font-size: 16px; font-weight: bold;
       position: inline; color:orange;
     }
    input.no_surat:focus { outline:none !important; }
    div.modal-sm {
      top:30%;
    }
    small > a { font-size:inherit; }
    iframe { width: 100%; min-height:530px;  }
    .bg-1 { background-color: #FB8C00 }
    .bg-2 { background-color: #FF9800 }
    .bg-3 { background-color: #FFA726 }
    .right2x { margin-right: 20px; }
    .top50x { margin-top: 50px; }
    .text-white { color: white }
    .tinymce-300 { height: 200px !important;}
    li.time-label > span:first-child {
      border-radius: 5px 0px 0px 5px;
      padding-right: 10px;
    }
    li.time-label > span:last-child {
      border-radius: 0px 5px 5px 0px;
    }
    .left20x { margin-left: 20px; }
    .minleft20x { margin-left: -25px; }
.bg-blue {
  background: #000D8D !important;
  color: white;
}
input[type="password"] {
  font-size: 20pt;
  padding: 0px;
}
/* TABLE */
div.button-action {
    display: none;
    font-size: 9pt;
}
    
tr:hover  div.button-action,
div.dd-handle:hover  > div.button-action {
    display: block;
}
.table-hover > tbody > tr {
	height: 55px;
}
td.td-action > div.button-action a {
	padding-right: 5px;
	padding-left: 5px;
}
a.red {
	color: #DD4B39
}
a.red:hover {
	color: #E36B5C
}
 /*  HELPER */
 .bg-white {
 	background-color: white;
 }
 .bottom2x {
 	margin-bottom: 20px;
 }
 .left2x {
 	margin-left: 20px;
 }
  .left3x {
 	margin-left: 30px;
 }
 .top2x {
 	margin-top: 20px;
 }
 .top4x {
 	margin-top: 40px;
 }

.alert {
	background-color: white !important;
	border-left: 5px;
	border-style: solid;
	border-right: none;
	border-bottom: none;
	border-top: none;
	color: grey  !important;
	padding:10px;
}
.alert-danger {
	border-color:red;
}
.alert-success {
	border-color:green;
}
.alert-warning {
	border-color:orange;
}
.alert-info {
	border-color: #00A0D2;
}

/*  PAGINATION  */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #283593;
    background-color: transparent;
    border-color:silver;
}

.pagination > li > a:first-child,
.pagination > li > a,
.pagination > li > a span {
  font-weight:bold;
  margin-right: 5px;
  transition: all 0.5s ease;
  background-color: white;
}

.pagination > li.active > a,
.pagination > li.active > a:hover {
   z-index: 3;
    color: black;
    background-color: #D2D6DE;
    border-color: silver;
}

/*  BOX CATEGORY SELECT */
div.box-select-category {
	max-height: 250px;
	background-color: #FDFDFD;
	border:1.2px solid #DBDBDB;
	overflow-y: scroll;
	padding: 10px;
}

.bg-gray:hover {
    color: gray
}   


/* QUESTION FROM */
.top1x {
  margin-top: 10px;
}
.c50 {
  float: left;
  width: 48%;
}
.c50:first-of-type {
  margin-right: 20px;
}

  .text-vertical {
    transform: rotate(-90deg);
    transform-origin: top 0;
    margin-left: -30px;
    padding-bottom: 10px;
    font-size: 20px;
  }


  

#progress {
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: 0px;
  width: 0%;
  height: 2.5px;
  background:#FFF;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: width 500ms ease-out, opacity 400ms linear;
  -ms-transition: width 500ms ease-out, opacity 400ms linear;
  -o-transition: width 500ms ease-out, opacity 400ms linear;
  -webkit-transition: width 500ms ease-out, opacity 400ms linear;
  transition: width 500ms ease-out, opacity 400ms linear;
}

#progress dd, #progress dt {
  position: absolute;
  top: 0;
  height: 2.5px;
  -moz-box-shadow: #FFF 1px 0 6px 1px;
  -ms-box-shadow: #FFF 1px 0 6px 1px;
  -webkit-box-shadow: #FFF 1px 0 6px 1px;
  box-shadow: #FFF 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#progress dt {
  opacity: .6;
  width: 180px;
  right: -80px;
  clip: rect(-6px, 90px, 14px, -6px);
}

#progress dd {
  opacity: .6;
  width: 20px;
  right: 0;
  clip: rect(-6px, 22px, 14px, 10px);
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

    /* CASCADING */
    .wrap_dashboard {
      float:left;
    }
    .flow-wrapper {
      width: 100%;
      float:left;
      min-height:42px;
      margin-bottom:20px;
    }

    div.flow > a {
      font-size: 7pt;
      font-weight: bold;
    }
    #row1 > .flow + .flow, 
    #row3 > .flow + .flow, 
    #row5 > .flow + .flow{
      margin-left:45px;
    }
    #row2 {
      margin-right:0px;
    }
    #row1  > .flow.center:after, 
    #row3  > .flow.center:after,
    #row5  > .flow.center:after {
      content:"";
      width:80%;
      height:100%;
      background:url(../img/dash-img-link-arrow.png) no-repeat;
      position:absolute;
      top:6px;
      right:-65px;
    }
    #row2  > .flow.center:after,
    #row4  > .flow.center:after {
      content:"";
      width:80%;
      height:100%;
      background:url(../img/dash-img-link-arrow-left.png) no-repeat;
      position:absolute;
      top:6px;
      left:-32px;
    }
    #row2  > .flow.last:after,
    #row4  > .flow.last:after {
      content:"";
      position:absolute;
      width:80% !important;
      height:100%  !important;
      background:url(../img/dash-img-link-arrow-left-last.png) no-repeat  !important;
      bottom:-45px;
      left:-10px;
/*       -ms-transform: rotate(0deg); 
-webkit-transform: rotate(0deg); 
transform: rotate(0deg); */
    }
    #row1  > .flow.last:after,
    #row3  > .flow.last:after {
      content:"";
      position:absolute;
      width:80% !important;
      height:100%  !important;
      background:url(../img/dash-img-link-arrow-right-last.png) no-repeat  !important;
      bottom:-45px;
      right:-24px;
    }
    
    #row1 .flow,
    #row3 .flow,
    #row5 .flow {
      float:left;
    } 
    #row2 .flow,
    #row4 .flow {
      float:right;
      margin-left:45px;
    }
    .flow {
      position:relative;
      font-family:Geneva, Arial, Helvetica, sans-serif;
      text-align:center;
    }
    .flow.renstra a {
      background:#3C8DBC !important;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .flow.renstra a:hover {
      background:#0a93d0 !important;
    }
    .flow.rkt a  {
      background:#D94A38 !important;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .flow.rkt a:hover  {
      background:#cf0343 !important;
    }
    .flow.pk a{
      background:#DB8B0B !important;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .flow.pk a:hover{
      background:#E3A541 !important;
    }
    .flow.kinerja a{
      background:#347a31 !important;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .flow.kinerja a:hover{
      background:#33902f !important;
    }
    .flow.pk a, .flow.pk span {
      color:#ffffff !important;
    } 
    .flow span {
      color: #fff;
      font-weight: bold;
      left: 32%;
      position: absolute;
      top: 10px;
      font-size:24px;
      font-family: 'Archivo Black', sans-serif;
    } 
    .flow a {
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:95px;
      height:95px;
      color:#FFFFFF;
      font-weight:bold;
      display:block;
      padding:40px 10px;
      text-decoration:none !important;
    }
    .flow a:hover {
      color:#fff;
    }

    .nopadding{
    padding-left: 0px;
    padding-right: 0px;
    }
    #footer{
    background: #1f618d;
    min-height: 30px;
    margin-left: 0px;
    }
